@import "variables";

.appheader-component {

  margin: 100px auto 50px;

  text-align: center;
  text-transform: uppercase;

  &__title {
    font-size: 36px;
    font-weight: $font_weight_light;
    letter-spacing: $letter_spacing_wide;
    text-rendering: optimizeLegibility;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: $font_weight_light;
    letter-spacing: $letter_spacing_wide;
    text-rendering: optimizeLegibility;
  }

}
