@import "variables";

.postlistfilteritem-component {

  color: $color_primary;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  width: 33.333%;
  display: inline-block;
  text-align: center;
  opacity: 0.5;
  transition: ease 500ms;

  &.is-active {
    opacity: 1;
  }

  &__text {

    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: ease 500ms;

    .is-active & {
      border-bottom-color: $color_primary;
    }

  }

}
