@import "variables";

.post-component {

  float: left;
  width: 100%;
  margin: 50px 0;

  &__meta {
    float: left;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: $font_weight_bold;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 3px solid #eee;
  }

}
